header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    text-align: center;
    background: red;
    color: black;
}

header ul{
    display: flex;
    flex-direction: row;
    padding: 30px, 10px;
}

header ul li{

    display: block;
    font-size: 2.5rem;
    margin-left: 50px;   
 }

 header h1{
    float: left;
    display: block;
    font-size: 2.5rem;  
 }

.AboutMe {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.title {
    border-right: 5px solid #873636;
    min-height: 100%;
    text-align: left;
    padding-right: -200px;
    min-width: 20%;
    max-width: 20%;
}

.workTitle {
    border-right: 5px solid #873636;
    min-height: 100%;
    text-align: left;
    padding-right: -200px;
    min-width: 20%;
    max-width: 20%;
}

.contactTitle {
    border-right: 5px solid #873636;
    min-height: 100%;
    text-align: left;
    padding-right: -200px;
    min-width: 20%;
    max-width: 20%;
}

.image{
    text-align: center;
}

.PetFinder {
    background-image: url("./dogcatstock.jpg");
    position: relative;
    /* right: 60px;
    top: 30px; */
    margin-right: 25%;
    height: 200px;
    width: 400px;

}

.project {
    border: solid;
    color: black;
    display: flex;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

section{
    color: aqua;
}

.workContainer {
    position: relative;
    right: 300px;
    top: 20px;
}

.workText {
    color:#873636;
    width: 50%;
    position: relative;
    left: 500px;
}

section p {
    color: black;
    display: flex;
    text-align: right;
}

@media screen and (max-width:980) {

}

@media screen and (max-width:768px) {
    .AboutMe {
        flex-direction: column;
        align-items: center;
    }

    .title {
        min-width: 100%;
        max-width: 100%;
        text-align: center;
        border-right: 0px;
    }

    .workTitle {
        min-width: 100%;
        max-width: 100%;
        text-align: center;
        border-right: 0px;
    }
    
    .PetFinder{
        margin-right: 0px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header ul li {
        margin-left: 15px;
        font-size: 1rem;
    }


}