header{
    padding: 50px;
    text-align: center;
    background: red;
    color: black;
}

header ul{
    display: flex;
    flex-direction: row;
    float: right;
    padding: 30px, 10px;
}

header ul li{

    display: block;
    font-size: 2.5rem;
    margin-left: 50px;
    margin-right: 0px; 
    margin-top: -30px;
    margin-bottom: 100px;   
 }

 header h1{
    float: left;
    display: block;
    font-size: 2.5rem;
    margin-left: 30px;
    margin-right: 0px; 
    margin-top: -10px;
    margin-bottom: 100px;   
 }

.AboutMe {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.title {
    border-right: 5px solid #873636;
    min-height: 100%;
    text-align: left;
    padding-right: -200px;
    min-width: 20%;
    max-width: 20%;
}

.workTitle {
    border-right: 5px solid #873636;
    min-height: 100%;
    text-align: left;
    padding-right: -200px;
    min-width: 20%;
    max-width: 20%;
}

.contactTitle {
    border-right: 5px solid #873636;
    min-height: 100%;
    text-align: left;
    padding-right: -200px;
    min-width: 20%;
    max-width: 20%;
}

.image{
    height: 200px;
    position: relative;
    left: 600px;
    display: flex; 
}

.PetFinder {
    background-image: url("./dogcatstock.jpg");
    position: relative;
    right: 60px;
    top: 30px;
    height: 200px;
    width: 400px;

}

.project {
    border: solid;
    color: black;
    display: flex;
    text-decoration: none;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}

section{
    color: aqua;
}

.workContainer {
    position: relative;
    right: 300px;
    top: 20px;
}

.workText {
    color:#873636;
    width: 50%;
    position: relative;
    left: 500px;
}

section p {
    color: black;
    display: flex;
    text-align: right;
}
